[build-system]
requires = ["setuptools", "wheel", "numpy", "pandas", "scipy"]

[tool.flake8]
max-line-length = 100
extend-ignore = "F841"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
